<header>
    <section class="shell">
        <h1 id="logo">
            <a href="#">
                <img src="assets/image/logo.jpg" alt="" />
            </a>
        </h1>
        <nav>
            <ul>
                <li class="current">
                    <a href="#" routerLink="impression">地区印象</a>
                </li>
                <li>
                    <a href="#" routerLink="medicine">草药认知</a>
                </li>
                <li class="has_dd">
                    <a href="#" routerLink="myInfo/menu">生活一览<span class="arrow"></span></a>
                    <section class="dropdown">
                        <ul>
                            <li><a href="#" routerLink="myInfo/tour/1">旅之弥散</a></li>
                            <li><a href="#" routerLink="myInfo/college">我的大学</a></li>
                            <!-- <li class="has_dd"><a href="#" routerLink="">高中</a></li> -->
                            <li>
                                <a href="#" routerLink="myInfo/read/1">兴趣<span class="arrow"></span></a>
                                <section class="dropdown">
                                    <ul>
                                        <li><a href="#" routerLink="myInfo/read/1">随言笔记</a></li>
                                        <li><a href="#" routereLink="myInfo/anime">动漫记忆</a></li>
                                    </ul>
                                </section>
                            </li>
                        </ul>
                    </section>
                </li>
                <li><a href="#">时光机</a></li>
            </ul>
        </nav>

        <!-- <div id="mobile-nav">
      <ul>
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#">Styles</a></li>
        <li>
          <a href="#">Trainers</a>

          <ul>
            <li><a href="#">Joey Smith</a></li>
            <li><a href="#">Robert Galgoa</a></li>
            <li><a href="#">Franklin Jr.</a></li>
            <li><a href="#">Sarah Hemmer</a></li>
            <li><a href="#">George Norman</a></li>
          </ul>
        </li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
        <li class="phone">(800) 456-7890</li>
      </ul>

      <a class="mobile-nav-toggle">+</a>
    </div> -->

    </section>
</header>