<header>
    <section class="shell">
        <h1 id="logo">
            <a href="#">
                <img src="assets/image/logo.jpg" alt="" />
            </a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a routerLink="impression">印象</a>
                </li>
                <li>
                    <a routerLink="medicine">图片贴墙</a>
                </li>
                <li class="has_dd">
                    <a routerLink="homePage/main">生活<span class="arrow"></span></a>
                    <section class="dropdown">
                        <ul>
                            <li><a routerLink="/homePage/read/1">杂文一角</a></li>
                            <li><a routerLink="/homePage/tour/1">照片与心情</a></li>
                            <!-- <li class="has_dd"><a href="#" routerLink="">高中</a></li> -->
                            <li>
                                <a [routerLink]="['/users/user-list']">兴趣板块<span class="arrow"></span></a>
                                <section class="dropdown">
                                    <ul>
                                        <li><a [routerLink]="['/label/label-list']">专题分类</a></li>
                                        <li><a [routerLink]="['/users/user-list']">人物浏览</a></li>
                                    </ul>
                                </section>
                            </li>
                        </ul>
                    </section>
                </li>
                <li *ngIf="!currentUser?.userName">
                    <a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">登录</a>
                </li>
                <li *ngIf="!currentUser?.userName">
                    <a routerLink="register">注册</a>
                </li>
                <li *ngIf="currentUser?.userName">
                    <a routerLink="manage">欢迎：{{currentUser?.userName}}</a>
                </li>
                <li *ngIf="currentUser?.userName">
                    <a routerLink="/manage/article/1">后台管理</a>
                </li>
                <li *ngIf="currentUser?.userName">
                    <a href="javascript:void(0);" (click)="doLogout()">退出</a>
                </li>
            </ul>
        </nav>

        <!-- <div id="mobile-nav">
      <ul>
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#">Styles</a></li>
        <li>
          <a href="#">Trainers</a>

          <ul>
            <li><a href="#">Joey Smith</a></li>
            <li><a href="#">Robert Galgoa</a></li>
            <li><a href="#">Franklin Jr.</a></li>
            <li><a href="#">Sarah Hemmer</a></li>
            <li><a href="#">George Norman</a></li>
          </ul>
        </li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
        <li class="phone">(800) 456-7890</li>
      </ul>

      <a class="mobile-nav-toggle">+</a>
    </div> -->

    </section>
</header>