<p-dataGrid [value]="tourList" [paginator]="true" [rows]="3">
    <p-header>
        旅行照片
    </p-header>
    <ng-template let-tour pTemplate="item">
        <div style="padding:5px" class="ui-g-12 ui-md-4">
            <p-panel [header]="tour.name" [style]="{'text-align':'center'}">
                <img src="assets/images/tour/{{tour.src}}.jpg" style="width:190px;height:170px;">
                <div class="listLine">{{tour.time}} - {{tour.person}}</div>
                <div class="listLine">{{tour.label}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <a [routerLink]="['/homePage/tour/tourDetail',tour.id]" style="display:block;"><i class="fa fa-search" ></i></a>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>