<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let read of readList">
                <h5>
                    <a [routerLink]="['/myInfo/read/readDetail',read.id]">{{read.name}}</a>
                </h5>
                <p>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>&ngsp;&nbsp;{{read.time}}&ngsp;&nbsp;&nbsp;
                    <i class="fa fa-comment" aria-hidden="true"></i>&ngsp;&nbsp;{{read.num}}&nbsp;&ngsp;
                    <i class="fa fa-eye"></i>&ngsp;&nbsp;{{read.label}}
                </p>
            </div>
            <div class="pagiBar" [style]="{'text-align':'center'}">
                <p-paginator rows="{{itemsPerPage}}" totalRecords="{{totalData}}" first="{{offset}}" (onPageChange)="pageChange($event)">
                </p-paginator>
            </div>
        </div>
    </div>
</div>