<div class="row article-table">
    <div class="col-md-12">
        <h3>已发布文章管理</h3>
        <p-dataTable [value]="articles" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" [lazy]="'true'" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalData" [pageLinks]="3" [globalFilter]="gb" #dt>
            <p-column field="name" header="标题名" [filter]="true" filterPlaceholder="检索"></p-column>
            <p-column field="time" header="发布时间：({{yearFilter||'无'}})" [filter]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                    <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="2000" [max]="2090" (onChange)="onYearChange($event, dt, col)"></p-slider>
                </ng-template>
            </p-column>
            <p-column field="label" header="专题分类" [filter]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="labels" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
            </p-column>
            <p-column field="num" header="点赞数" [filter]="true" filterPlaceholder="检索"></p-column>
            <p-column header="操作" [style]="{'width':'80px'}">
                <ng-template let-item="rowData" pTemplate="body">
                    <button type="button" class="btn btn-danger" (click)="delArticle(item)">删除</button>
                </ng-template>
            </p-column>
        </p-dataTable>
        <!-- [rowsPerPageOptions]="[5,10,20]" [paginator]="true" (onPageChange)="pageChange($event)" [lazy]="'true'" (onLazyLoad)="loadCarsLazy($event)"-->
    </div>

</div>